<app-menu></app-menu>
<div class = "component">
    <table class = "table table-striped table-sm">
        <tr>
            <th>Id:</th>
            <td>
                <input [(ngModel)]="major.id" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <th>Code:</th>
                <td>
                    <input [(ngModel)]="major.code" type="text" size="10" disabled>
                </td>
        </tr>
        <tr>
            <th>Name:</th>
                <td>
                    <input [(ngModel)]="major.name" type="text" size="20" disabled>
                </td>
        </tr>
        <tr>
                <th>Min SAT:</th>
                    <td>
                        <input [(ngModel)]="major.minSat" type="text" size="7" disabled>
                    </td>
        </tr>  
        <tr>
            <td colspan="2">
                <button (click)="delete()" class="btn btn-danger">Delete</button> |
                <button (click)="changeMinSat()" class="btn btn-warning">Change Min Sat</button>
            </td>
        </tr>
    </table>
</div>
