
<app-menu></app-menu>
<div class = "component">
    <table class = "table table-striped table-sm">
        <tr>
            <th>Id:</th>
            <td>
                <input [(ngModel)]="student.id" type="number" size="10" disabled>
            </td>
        </tr>
        
        <tr>
            <th>Name:</th>
                <td>
                    <input [(ngModel)]="student.name" type="text" size="20" >
                </td>
        </tr>
        <tr>
            <th>Sat:</th>
                <td>
                    <input [(ngModel)]="student.sat" type="number" size="10" >
                </td>
        </tr>
        <tr>
                <th>GPA:</th>
                    <td>
                        <input [(ngModel)]="student.gpa" type="number" size="7" >
                    </td>
        </tr>  
        <tr>
            <td>Major</td>
            <td>
                <select [(ngModel)]="student.majorId">
                    <option *ngFor="let m of majors" value="{{+m.id}}">{{m.name}}</option>
                    <option value="">Undeclared</option>
                </select>
               
            </td>
        </tr>  
        <tr>
            <td colspan="2">
                <button (click)="save()" class="btn btn-primary">Save</button>
            </td>
        </tr>
        
    </table>
</div>