<app-menu></app-menu>
<div class = "component">
    <table class = "table table-striped table-sm">
        <tr>
            <th>Id:</th>
            <td>
                <input [(ngModel)]="major.id" type="number" size="10" disabled>
            </td>
        </tr>
        <tr>
            <th>Code:</th>
                <td>
                    <input [(ngModel)]="major.code" type="text" size="10" >
                </td>
        </tr>
        <tr>
            <th>Name:</th>
                <td>
                    <input [(ngModel)]="major.name" type="text" size="20" >
                </td>
        </tr>
        <tr>
                <th>Min SAT:</th>
                    <td>
                        <input [(ngModel)]="major.minSat" type="number" size="7" >
                    </td>
        </tr>  
            <tr>
                <td colspan="2">
                    <button (click)="save()" class="btn btn-primary">Save</button>
                </td>
            </tr>
    </table>
</div>

